$border-color: #e5e6e9;
$box-shadow: rgba(0, 0, 0, 0.06);

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.primary-btn {
  color: #557aff;
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: rgba(85, 122, 255, 0.1);
}

.primary-box {
  background: #ffffff;
  border: 1px solid #e7eaf3;
  box-shadow: 0px 4px 6px $box-shadow;
  padding: 10px;
  border-radius: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// main-container

.main-container {
  display: flex;
  height: 100vh;
  img {
    width: 50px;
    height: 50px;
  }
}

.show {
  width: 200px;
  opacity: 1;
}
.hide {
  width: 0px;
  opacity: 0;
}

.drawer-container {
  transition: all 0.3s ease-in-out;
  padding: 0;
  background-color: #f9faff;
  height: 100vh;
  .toggle-arrow {
    position: relative;
    left: 46%;
    top: 6%;
    border: none;
    padding: 3px 10px;
    border-radius: 8px;
    z-index: 999;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
      z-index: 9999;
    }
  }
  .drawer {
    background-color: #f9faff;
    box-shadow: 0px 4px 6px $box-shadow;
    transition: all 0.3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    .close {
      display: none;
    }

    .items {
      display: flex;
      flex-direction: column;
      justify-content: "space-between";
      height: calc(100% - 80px);
      text-align: left;
      .item {
        display: flex;
        padding: 0px 30px;
        cursor: pointer;
        margin-top: 15px;
        align-items: center;
        img {
          width: 25px;
          height: 25px;
          margin-right: 20px;
        }
      }
      .selected {
        border-right: 3px solid black;
      }
    }
    .support {
      margin-top: auto;
      width: 100%;
      text-align: center;
      button {
        margin-bottom: 20px;
        width: 80%;
      }
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      position: absolute;
      height: 100vh;
      z-index: 99;
      align-items: center;
      .close {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        color: blue;
      }
      .support {
        width: auto;
        button {
          margin: auto;
          width: 90%;
        }
      }
    }
  }
}
::-webkit-scrollbar {
  display: none;
}
.main-block {
  flex-grow: 1;
  height: 100%;
  overflow: scroll;

  .heading {
    text-align: left;
    padding-left: 30px;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-icons {
      display: flex;
      gap: 30px;
      margin-right: 40px;
      img {
        width: 30px;
        height: auto;
      }
    }
  }
  
  .user-details {
    height: 98vh;
    overflow: scroll;
    display: flex;
    .details {
      width: 100%;
      padding-left: 20px;
      .toggle-arrow {
        position: relative;
        left: -51%;
        top: 0px;
        border: none;
        padding: 3px 10px;
        border-radius: 8px;
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
          z-index: 9999;
        }
      }
      .container {
        .heading {
          text-align: left;
          padding-left: 30px;
          border-bottom: 1px dashed $border-color;
        }
        .section {
          text-align: left;
          background: #ffffff;
          border: 1px solid #e7eaf3;
          box-shadow: 0px 4px 6px $box-shadow;
          border-radius: 7px;
          margin: 15px;
        }
        .targets {
          display: flex;
          align-items: center;
          .block {
            flex-grow: 1;
            border-right: 1px dashed $border-color;
            h3 {
              border-bottom: 1px dashed $border-color;
              padding: 20px 25px;
              padding-top: 0px;
            }
            .categories {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-gap: 20px;
              padding: 20px 25px;
              padding-top: 0px;
              .category {
                text-align: center;
                font-weight: bold;
                text-align: left;
                display: flex;
                align-items: center;
                padding: 15px 20px;
                .box-container {
                  width: 75%;
                  align-items: center;
                  .header {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                  }
                  img {
                    margin-right: 10px;
                  }
                }
                .amount-container {
                  margin-left: auto;
                  .actions {
                    position: relative;
                    left: 55px;
                    bottom: 8px;
                    img {
                      width: 15px;
                      height: 15px;
                    }
                  }
                  .amount-invested {
                    .invested {
                      font-size: 24px;
                    }
                    .total {
                      font-size: 12px;
                      text-align: right;
                      color: #636f86;
                    }
                  }
                }
                .progress-bar-container {
                  height: 10px;
                  background-color: #ddd;
                  border-radius: 5px;
                }

                .progress-bar {
                  height: 100%;
                  border-radius: 5px;
                  transition: width 0.3s ease-in-out;
                }
              }
            }
          }
          .circular-graph {
            margin-left: auto;
            padding: 0 20px;

            .doughnut {
              .over-all {
                position: absolute;
                top: 22%;
                right: 20.5%;
                text-align: center;
                font-weight: bold;
                font-size: 22px;
                span {
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
          }
          @media only screen and (max-width: 767px) {
            width: 90%;
            margin: auto;
            display: block;
            .block {
              .categories {
                grid-template-columns: 1fr;
              }
            }
            .circular-graph {
              display: none;
            }
          }
        }
        .performance {
          .section-header {
            display: flex;
            align-items: center;
            border-bottom: 1px dashed $border-color;
            padding: 0 20px;
            h3 {
              width: 70%;
            }
            .buttons {
              display: flex;
              align-items: center;
              margin-left: auto;
              gap: 15px;
              .btn {
                font-size: 14px;
                font-weight: 500;
                display: flex;
                align-items: center;
                padding: 14px 18px;
              }
            }
          }
          .graph-details {
            display: flex;
            justify-content: space-between;
            .graph {
              width: 60%;
              padding: 20px;
              border-right: 1px dashed $border-color;
              canvas {
                width: 100%;
              }
            }
            .other-details {
              width: 40%;
              display: flex;
              flex-direction: column;
              height: auto;
              padding: 40px;
              .buttons {
                display: flex;
                margin-bottom: 30px;
                gap: 20px;
                button {
                  padding: 12px;
                  width: 100%;
                }
              }
              .category-performance {
                flex-grow: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
              }
              .grid-item {
                text-align: center;
                font-weight: bold;
                background: #f4f7ff;
                border: 1px solid #e7eaf3;
                box-shadow: 0px 4px 6px $box-shadow;
                border-radius: 7px;
                display: flex;
                flex-direction: column;
                padding: 10px 0;
                justify-content: center;
                align-items: center;
                .type {
                  color: #343756;
                  margin: 0;
                  font-size: 12px;
                }
                .amount {
                  margin: 0;
                  color: #557aff;
                  font-size: 30px;
                }
              }
            }
          }
          @media only screen and (max-width: 767px) {
            width: 90%;
            margin: 20px auto;
            .section-header {
              .buttons {
                .btn:nth-child(2) {
                  display: none;
                }
              }
            }
            .graph-details {
              display: block;
              .graph {
                width: auto;
              }
              .other-details {
                width: auto;
                padding: 10px;
              }
            }
          }
        }
        .investor_details {
          padding: 10px 25px;
          width: auto;
          .section-header {
            display: flex;
            align-items: center;
            .heading {
              font-weight: bold;
              border: none;
              padding: 0;
            }
            .search-section {
              margin-left: auto;
              display: flex;
              align-items: center;
              gap: 20px;

              input {
                padding: 12px;
                border-radius: 8px;
                outline: none;
                font-size: 12px;
                border: none;
                background-color: #f4f7ff;
              }
            }
          }
          .investor-details-table {
            width: 100%;
            background: #ffffff;
            border: 1px solid #e7eaf3;
            box-shadow: 0px 4px 4px $box-shadow;
            border-radius: 7px;

            table {
              width: 100%;
              border-collapse: collapse;
              tr th,
              td {
                padding: 15px;
              }
              tr th {
                border-bottom: 1px dashed #e9e9ea;
              }
            }
          }
          .sip-details {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background: #ffffff;
            border: 1px solid #e7eaf3;
            box-shadow: 0px 4px 4px $box-shadow;
            border-radius: 7px;
            margin-top: 40px;

            .left-section {
              flex: 1;
              border-right: 1px dashed $border-color;
              .section-header {
                border-bottom: 1px dashed $border-color;
                padding-bottom: 20px;
                padding-left: 20px;
              }
              .your-sips {
                display: flex;
                align-items: center;
                gap: 30px;
                justify-content: space-between;
                padding: 0 20px;

                .sips {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  border: 1px solid #e7eaf3;
                  border-radius: 8px;
                  padding: 20px;
                  box-shadow: 0px 4px 6px $box-shadow;
                  .title {
                    color: #577cff;
                    background: #e9eeff;
                    border-radius: 3px;
                    font-size: 11px;
                    font-weight: 500;
                    width: fit-content;
                    padding: 5px 8px;
                  }
                  .amount-and-sips {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                    width: 100%;
                    margin-top: 20px;
                    .total-amount,
                    .total-sips {
                      display: flex;
                      flex-direction: column;
                      p {
                        margin: 0;
                      }
                      p:nth-child(1) {
                        font-size: 11px;
                        color: #636f86;
                      }
                      p:nth-child(2) {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 24px;
                        letter-spacing: 0.5px;
                        text-transform: capitalize;
                        color: #577cff;
                      }
                    }
                  }
                  .button {
                    width: 100%;
                    margin-top: 20px;
                    button {
                      background: #e8eeff;
                      border-radius: 0px 0px 7px 7px;
                      width: 100%;
                    }
                  }
                }
              }
            }
            .circular-graph {
              margin-left: 15px;
              padding: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          @media only screen and (max-width: 767px) {
            overflow: hidden;
            .section-header {
              padding: 10px 20px;
              .search-section {
                display: none;
              }
            }
            .investor-details-table {
              overflow: scroll;
            }
            .sip-details {
              display: block;
              width: 100%;
              overflow: hidden;
              .left-section {
                .your-sips {
                  flex-direction: column;
                  width: 75%;
                  margin: auto;
                  margin-bottom: 20px;
                }
              }
              .circular-graph {
                display: none;
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      display: block;
      height: auto;
      .details {
        width: auto;
        padding-left: 0;
        .toggle-arrow {
          left: -40%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.market-insights {
  text-align: left;
  padding: 20px 30px;
  width: 20%;
  .market-data {
    background: #f7f9ff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    padding: 20px;
    margin: 30px auto;
    .content {
      font-size: 14px;
    }
    .read-more {
      letter-spacing: 0.5px;
      text-transform: capitalize;
      color: #557aff;
      font-weight: 600;
    }
  }
  @media only screen and (max-width: 767px) {
    text-align: center;
    width: 80%;
    margin: auto;
  }
}
